<div class="about-text">
	<!-- <a href="javascript:void(0)" class="close-team"><img src="img/icon-close.png" alt="X" /></a> -->
	<div id="grpPhoto">
		<img src="img/groupphoto3-1.jpg" group-photo/>
	</div>
</div>

<div id="container ">
	<div class="about-text">
		<h2 class="section-title no-space tk-proxima-nova tk-proxima-nova-regular">Our Team</h2>
		<div class="inside">
			<div class="tk-proxima-nova tk-proxima-nova-light">We are a collective of innovators, instigators, storytellers and collaborators<br />hell bent on disrupting the traditional marketing, media and entertainment industries.</div>
		</div>
	</div>
	<hr class="grey"/>
	
	
	<div class="row mfic">
			
		<div class="bio col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="profile-pic">
				<img src="img/bios/steven_about_thumbnail.jpg">
			</div>
			<div class="bio-txt">
				<div class="name">STEVEN AMATO</div>
				<div class="title">CEO/Chief Content Officer</div>
				<hr/>
				<div class="desc">As the CEO/Chief Content Officer of Contend, Amato is known as an innovator in the world of marketing and entertainment.  Amato previously was the President/CCO of Omelet, an award-winning agency that he co-founded in 2004, and also formerly served as a Creative Leader at TBWA/Chiat/Day.  He has worked with notable clients such as Bud Light, Microsoft, Tribune, Walmart, AT&T, PlayStation, Lexus, Facebook, Samsung and Harley-Davidson. An innovative storyteller and thought leader, Amato has consulted with the White House, is a frequent speaker and moderator at numerous conferences and is a writer and producer of original long and short form content. 
				</div>
			</div>
		</div>
		
		<div class="bio col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="profile-pic">
				<img src="img/bios/phil_about_thumbnail.jpg">
			</div>
			<div class="bio-txt">
				<div class="name">PHILIP ALBERSTAT</div>
				<div class="title">Chief Operating Officer</div>
				<hr/>
				<div class="desc">Former EVP of Omelet Studios, Alberstat is best known for his role at the William Morris Agency within their independent film team.  He worked on such noted films as Thank you for Smoking, Away from Her, Factory Girl and Bobby and was awarded and nominated for Emmy Awards for his work on The Incredible Mrs. Ritchie and The Song Spinner.  He was also shortlisted for an Oscar for the documentary "Downstream". Prior to William Morris he was an entertainment lawyer based in London England specializing in media finance. He is the author of several books including," The Insiders Guide To Film Finance". At Contend he is responsible for strategic partnerships and operations. 
				</div>
			</div>
		</div>
		
		<div class="bio col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="profile-pic">
				<img src="img/bios/dane_about_thumbnail.jpg">
			</div>
			<div class="bio-txt">
				<div class="name">DANE ALOE</div>
				<div class="title">VP, Partnerships & Innovation</div>
				<hr/>
				<div class="desc">The former Director of Corporate Development at Omelet, Aloe met with investors and created strategic partnerships. He began his career at Deloitte as a Consultant for the Technology, Media and Telecom group working with Blackberry, AT&T, Rogers, and Interac. Steeply rooted in financial analysis, strategy, and research, Aloe brings a depth of knowledge to Contend and its clients in all areas of media innovation, technology and ROI.
				</div>
			</div>
		</div>
		
		<div class="bio col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="profile-pic">
				<img src="img/bios/paul_about_thumbnail.jpg">
			</div>
			<div class="bio-txt">
				<div class="name">PAUL SOTER</div>
				<div class="title">EVP, Director of Content</div>
				<hr/>
				<div class="desc">EVP, Director of Content at Contend has had an illustrious career as a member of the Broken Lizard comedy group where he wrote and acted in such films as Super Troopers, Club Dread and Beerfest.   He has directed multiple features and branded content series, and has developed television projects with NBC, Fox, TBS, Lionsgate, MTV, Comedy Central,and ABC Family.
				</div>
			</div>
		</div>

		<div class="clearfix visible-lg"></div>
		<div class="bio col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="profile-pic">
				<img src="img/bios/evan_about_thumbnail.jpg">
			</div>
			<div class="bio-txt">
				<div class="name">EVAN ASTROWSKY</div>
				<div class="title">VP, Head of Production</div>
				<hr/>
				<div class="desc">Head of Production at Contend. A graduate of the NYU School of Film and Television, Evan began his producing career with director Eli Roth’s debut feature, Cabin Fever. In July of 2005 Evan accepted the position of Vice President in charge of Production at Kevin Spacey’s Trigger Street Productions where he produced films such as Fanboys starring Seth Rogen, Mini’s First Time starring Alec Baldwin, among others. In 2009 Evan returned to the advertising world where held the title of Executive Producer at production company & creative shop Meat & Potatoes as well as the video game leaning agency, Petrol.	
				</div>
			</div>
		</div>

		<div class="bio col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="profile-pic">
				<img src="img/bios/chi_about_thumbnail.jpg">
			</div>
			<div class="bio-txt">
				<div class="name">CHI-YOUNG YOON</div>
				<div class="title">Managing Director</div>
				<hr/>
				<div class="desc">Managing Director of Contend comes from a background in multicultural marketing for such noted brands as Comcast, Energizer, Kellogg’s and Disney.  She led the largest acquisition team at Grupo Gallegos, helping to build the company to over 100 employees.  With Spanish and Korean roots, Chi will spearhead the bicultural components of Contend’s projects and oversee account management and strategic research. 
				</div>
			</div>
		</div>

	
	</div> <!-- row -->
</div>

