<div id="footer" class="footer container">

  <div class="footer-box row">

    <div class="col-lg-5 col-md-5 col-sm-5 addy-box">
      <h2>Locations</h2>
      <hr>
   
        <div class="col-md-7 col-sm-6">  
          <b>LOS ANGELES</b><BR/>
          <b>Visiting:</b><BR/>
          145 S. Spring St. 10th Floor<BR/>
          LOS ANGELES, CA 90012<BR/><BR/>
          
          <b>Mailing:</b><BR/>
          130 S. Broadway 10th Floor<BR/>
          LOS ANGELES, CA 90012<BR/><BR/>
        </div>
        <div class="col-md-5 col-sm-6"> 
          <b>CHICAGO</b><BR/>
          435 N Michigan Ave<BR/>
          CHICAGO, IL 60611<BR/><BR/>
        </div>
  
    </div>

    <div  class="col-lg-3 col-md-3 col-sm-6 addy-box jobs">
      <h2>Job Opportunities</h2>
      <hr>
      <!-- <b>FALL/WINTER INTERNS</b><BR/> -->
      Click <a href="#/jobs">here</a> for more info<BR/>
      
    </div>
    
    <div  class="col-lg-3 col-md-3 col-sm-6 addy-box social">
      <h2 class="followus">Follow Us</h2>
      <hr>
      <div class="button-box">
        <a href="mailto:info@contendco.com" target="_blank"><img class="social-button" src="img/social/mail.png"></img></a>
        <a href="http://instagram.com/contend_la" target="_blank"><img class="social-button" src="img/social/instagram.png"></img></a>
        <a href="https://www.facebook.com/pages/Contend/824626457581580" target="_blank"><img class="social-button" src="img/social/facebook.png"></img></a>
        <a href="https://www.linkedin.com/company/contend?trk=top_nav_home" target="_blank"><img class="social-button" src="img/social/linkedin.png"></img></a>
      </div>
  
    </div>
  </div>
</div>