<header id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7500" data-pause="false" data-cycle="true">

  <div class="carousel-inner">

    <div class="item contendco active">
      <video class="fill visible-sm visible-md visible-lg visible-tablet" autoplay loop> 
        <source src="vids/put_a_bird_on_it.mp4" type="video/mp4">
        <source src="vids/put_a_bird_on_it.ogg" type="video/ogg">
      </video>
      <img class="fill visible-xs" src="vids/put_a_bird_on_it.png">
      <div class="on-banner contend">
        <h3 class="on-banner-title"><img class="contend_logo" src="img/front-slider-logo.png" alt="CONTEND"></h3>
        <h4 class="proxima-nova-thin hidden-sm">We create, produce and distribute premium content<br>that drives measurable business results.</h4>
        <h4 class="proxima-nova-thin visible-sm">We create, produce and distribute premium content that drives measurable business results.</h4>
      </div>
    </div>

    <div class="item">
      <video class="fill visible-sm visible-md visible-lg" loop>
        <source src="vids/lexus.mp4" type="video/mp4">
        <source src="vids/lexus.ogg" type="video/ogg">
      </video>
      <img class="fill visible-xs" src="vids/lexus.png">
      <div class="on-banner">
        <h3 class="on-banner-title"><img class='fb_logo' src="img/fb_slidelogo.png" alt="FB"></h3>
        <h4 class="proxima-nova-thin">Proven Innovators, <br>an original series by Lexus.</h4>
        <div class="blink">
          <a ref="102570730" onclick="showVideo(102570730)" id="slide5Button" data-toggle="modal" data-target="#slide5">
            <img class="play-button" src="img/play_button.png" onmouseover="this.src='img/play_button_hover.png';" onmouseout="this.src='img/play_button.png';"></a>
        </div>
      </div>          
    </div>

    <div class="item">
      <video class="fill visible-sm visible-md visible-lg visible-tablet" loop>
        <source src="vids/budlight.mp4" type="video/mp4">
        <source src="vids/budlight.ogg" type="video/ogg">
      </video>
      <img class="fill visible-xs" src="vids/budlight.png">
      <div class="on-banner">
        <h3 class="on-banner-title"><img src="img/bud_light_logo.png" alt="Bud" class="budlight_logo h106"></h3>
        <h4 class="proxima-nova-thin">Are you #UpForWhatever?</h4>
        <div class="blink">
          <a ref="106301345" onclick="showVideo(106301345)" id="e1Button" data-toggle="modal" data-target="#episode1">
            <img class="play-button" src="img/play_button.png" onmouseover="this.src='img/play_button_hover.png';" onmouseout="this.src='img/play_button.png';"></a>
        </div>
      </div>    
    </div>

    <div class="item">
      <video class="fill visible-sm visible-md visible-lg visible-tablet" loop>
        <source src="vids/jewelosco.mp4" type="video/mp4">
        <source src="vids/jewelosco.ogg" type="video/ogg">
      </video>
      <img class="fill visible-xs" src="vids/jewelosco.png">
      <div class="on-banner">
        <h3 class="on-banner-title"><img class="tribune_logo" src="img/tribune_logo_slide.png" alt="Tribune Publishing"></h3>
        <h4 class="proxima-nova-thin">Jewel Osco was in for Something Fresh.</h4>
        <div class="blink">
          <a ref="99063543" onclick="showVideo(99063543)" id="sFButton" data-toggle="modal" data-target="#somethingFresh">
            <img class="play-button" src="img/play_button.png" onmouseover="this.src='img/play_button_hover.png';" onmouseout="this.src='img/play_button.png';"></a>
        </div>
      </div>    
    </div>

    <div class="item">
      <video class="fill visible-sm visible-md visible-lg visible-tablet" loop>
        <source src="vids/presson.mp4" type="video/mp4">
        <source src="vids/presson.ogg" type="video/ogg">
      </video>
      <img class="fill visible-xs" src="vids/presson.png">
      <div class="on-banner">
        <h3 class="on-banner-title"><img class="CT_logo" src="img/chicago_trib_logo.png" alt="FX"></h3>
        <h4 class="proxima-nova-thin">Highlighting journalism's true power.</h4>
        <div class="blink">
          <a ref="100859135" onclick="showVideo(110669319)" id="slide4Button" data-toggle="modal" data-target="#slide4">
            <img class="play-button" src="img/play_button.png" onmouseover="this.src='img/play_button_hover.png';" onmouseout="this.src='img/play_button.png';"></a>
        </div>
      </div>    
    </div>

  </div>


  <a class="left carousel-control">
    <img src="img/slider-arrow-left.png">
  </a>
  <a class="right carousel-control">
    <img src="img/slider-arrow-right.png">
  </a>

  <div class="recent-wrapper">
    <img class="recent-works-arrow" src="img/recent-works-arrow.png">
  </div>

</header>


<h2 id="recent-list" class="section-title no-space tk-proxima-nova tk-proxima-nova-light"></h2>


<ul class="client-list">
    <li class="col-lg-4 col-md-4 col-sm-6 col-centered text-center"><img ref="1" src="img/featured/budlight_works_category.png" rollon="budlight_works_category_rollover.png" rollout="budlight_works_category.png" alt=""></li>
    <li class="col-lg-4 col-md-4 col-sm-6 col-centered text-center"><img ref="2" src="img/featured/jewelosco_works_category.png" rollon="jewelosco_works_category_rollover.png" rollout="jewelosco_works_category.png" alt=""></li>
    <li class="col-lg-4 col-md-4 col-sm-6 col-centered text-center"><img ref="4" src="img/featured/lexus_works_category.png" rollon="lexus_works_category_rollover.png" rollout="lexus_works_category.png" alt=""></li>
    <li class="col-lg-4 col-md-4 col-sm-6 col-centered text-center"><img ref="5" src="img/featured/gq_works_category.png" rollon="gq_works_category_rollover.png" rollout="gq_works_category.png" alt=""></li>
    <li class="col-lg-4 col-md-4 col-sm-6 col-centered text-center"><img ref="6" src="img/featured/presson_works_category.png" rollon="presson_works_category_rollover.png" rollout="presson_works_category.png" alt=""></li>
    <li class="col-lg-4 col-md-4 col-sm-6 col-centered text-center"><img ref="3" src="img/featured/thebridge_works_category.png" rollon="thebridge_works_category_rollover.png" rollout="thebridge_works_category.png" alt=""></li>
</ul>


<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true" style="display:none">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeVideo()">&times;</button>
</div>

<script type="text/javascript">
$(document).ready(function(){

  $('#modalDialog').on('hidden.bs.modal', function (e) {
    $(this).html('<div class="modal-dialog"></div>').css({'-webkit-transform': 'translate3d(0, 0, 0)', 'transform': 'translate3d(0, 0, 0)'});
  });

  $('.header-box .logo').hide();

  // $('#myCarousel').carousel({
  //     interval: 6000 //changes the speed
  // });

  $('.left.carousel-control').on('click',function(){
      $('.carousel').carousel('prev');
  });

  $('.right.carousel-control').on('click',function(){
      $('.carousel').carousel('next');
  });

  $('#myCarousel').on('slid.bs.carousel', function () {
      //alert("Slide Event");
      console.log('slid event');

      if($('.item.active').hasClass('contendco')){
        $('.header-box .logo').fadeOut('slow');
      }else{
        $('.header-box .logo').fadeIn('slow');
      }
      if(!$('.item .visible-xs').is(':visible')){
        $( ".item" ).each(function() {
          $('video', this).get(0).pause();
          $('video', this).currentTime = 0;
        });
        $('.item.active video').get(0).play();
      }
  });
 
  $('.recent-works-arrow').click(function(e){
    e.preventDefault();
    var target = $('#recent-list');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  });

  $('.client-list img').hover(function(){
    $(this).attr('src','img/featured/'+$(this).attr('rollon'))
  }, function(){
    $(this).attr('src','img/featured/'+$(this).attr('rollout'))
  }).on('click',function(){
    location.href='#/work_details/'+$(this).attr('ref');
  });


    showVideo = function(videoId){
      $('#modalDialog').attr("width", $(window).width());
      $('#modalDialog').attr("height", $(window).height());
      $('#modalDialog').html('<div class="modal-dialog"><button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><iframe src="//player.vimeo.com/video/' + videoId + '?title=0&amp;byline=0&amp;autoplay=1" frameborder="0" width="100%" height="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>').show();
  
      $('#modalDialog button.close').click(function(){
        $('.modal-dialog').remove();
        $('#modalDialog').hide();
      });
    }

});

</script>